<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apache Pyspark</title>
    <link rel="stylesheet" type="text/css" href="../static/style1.css">
    <link rel="stylesheet" href="https://unpkg.com/charts.css/dist/charts.min.css">
    <script src="https://kit.fontawesome.com/069c9c6dbb.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
  <img role="brand" alt="J"></img>
  <nav>
    <a>about</a>
    <a>work</a>
  </nav>
  <img role="profile" alt="G">
</header>

<main>
  <hgroup>
    <h2>Dashboard</h2>
    <ul role="breadcrumb">
      <li>home</li>
      <li>dashboard</li>
    </ul>
  </hgroup>
  <section>
    <dl>
      <dt>Visitor</dt>
      <dd>69</dd>
    </dl>
    <dl>
      <dt>User</dt>
      <dd>96</dd>
    </dl>
    <dl>
      <dt>Paid User</dt>
      <dd>66</dd>
    </dl>
    <dl>
      <dt>New User</dt>
      <dd>99</dd>
    </dl>
  </section>
  <section>

    <div class="examples">
      <table class="charts-css area hide-data show-labels show-primary-axis show-data-axes multiple" style="height: 200px;">
        <caption>Years Compared</caption>
        <thead>
          <tr>
            <th scope="col"> Year </th>
            <th scope="col"> Progress 1 </th>
            <th scope="col"> Progress 2 </th>
            <th scope="col"> Progress 3 </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"> 2000 </th>
            <td style="--start: 0.0; --size: 0.8;"> <span class="data">80 </span></td>
            <td style="--start: 0.0; --size: 0.5;"> <span class="data">50</span> </td>
            <td style="--start: 0.0; --size: 0.2;"> <span class="data">20</span> </td>
          </tr>

          <tr>
            <th scope="row"> 2010 </th>
            <td style="--start: 0.8; --size: 0.8;"> <span class="data">80 </span></td>
            <td style="--start: 0.5; --size: 0.5;"> <span class="data">50 </span></td>
            <td style="--start: 0.2; --size: 0.1;"> <span class="data">10 </span></td>
          </tr>

          <tr>
            <th scope="row"> 2020 </th>
            <td style="--start: 0.8; --size: 0.4;"> <span class="data">40 </span></td>
            <td style="--start: 0.5; --size: 0.3;"><span class="data"> 30 </span></td>
            <td style="--start: 0.1; --size: 0.2;"><span class="data"> 20 </span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="examples">
      <table class="charts-css line hide-data show-labels show-primary-axis show-data-axes multiple" style="height: 200px;">
        <caption>Years Compared</caption>
        <thead>
          <tr>
            <th scope="col"> Year </th>
            <th scope="col"> Progress 1 </th>
            <th scope="col"> Progress 2 </th>
            <th scope="col"> Progress 3 </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"> 2000 </th>
            <td style="--start: 0.1; --size: 0.5;"><span class="data"> 50 </span></td>
            <td style="--start: 0.0; --size: 0.2;"><span class="data"> 20 </span></td>
            <td style="--start: 0.0; --size: 0.4;"><span class="data"><span class="data"> 40 </span></td>
          </tr>
          <tr>
            <th scope="row"> 2010 </th>
            <td style="--start: 0.5; --size: 0.8;"><span class="data"> 80 </span></td>
            <td style="--start: 0.2; --size: 0.5;"><span class="data"> 50 </span></td>
            <td style="--start: 0.4; --size: 0.1;"><span class="data"> 10 </span></td>
          </tr>
          <tr>
            <th scope="row"> 2020 </th>
            <td style="--start: 0.8; --size: 0.4;"><span class="data"> 40 </span></td>
            <td style="--start: 0.5; --size: 0.3;"><span class="data"> 30 </span></td>
            <td style="--start: 0.1; --size: 0.2;"><span class="data"> 20 </span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="examples">
      <table id="labels-example-4" class="charts-css column show-labels">
        <caption> Labels Example #4 </caption>
        <thead>
          <tr>
            <th scope="col"> Day </th>
            <th scope="col"> Forecast </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"> Mon <br>
              <div class="sun"></div>
            </th>
            <td style="--size: calc(28 / 30);"><span class="data"> 28° </span></td>
          </tr>
          <tr>
            <th scope="row"> Tue <div class="sun"></div>
            </th>
            <td style="--size: calc(25 / 30);"><span class="data"> 25° </span></td>
          </tr>
          <tr>
            <th scope="row"> Wed <div class="sun"></div>
            </th>
            <td style="--size: calc(23 / 30);"><span class="data"> 23° </span></td>
          </tr>
          <tr>
            <th scope="row"> Thu <div class="cloud"></div>
            </th>
            <td style="--size: calc(16 / 30);"><span class="data"> 16° </span></td>
          </tr>
          <tr>
            <th scope="row"> Fri <div class="cloud"></div>
            </th>
            <td style="--size: calc(14 / 30);"><span class="data"> 14° </span></td>
          </tr>
          <tr>
            <th scope="row"> Sat <div class="cloud"></div>
            </th>
            <td style="--size: calc(18 / 30);"><span class="data"> 18° </span></td>
          </tr>
          <tr>
            <th scope="row"> Sun <div class="sun"></div>
            </th>
            <td style="--size: calc(22 / 30);"><span class="data"> 22° </span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <article>
      <h5>Social Media Traffic</h5>
      <table>
        <thead>
          <tr>
            <th>Network</th>
            <th colspan="2">Visitors</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Instagram</td>
            <td>3,550</td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar bg-primary" style="width: 71.0%"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Twitter</td>
            <td>1,798</td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar bg-primary" style="width: 35.96%"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Facebook</td>
            <td>1,245</td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar bg-primary" style="width: 24.9%"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>TikTok</td>
            <td>986</td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar bg-primary" style="width: 19.72%"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Pinterest</td>
            <td>854</td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar bg-primary" style="width: 17.08%"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>VK</td>
            <td>650</td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar bg-primary" style="width: 13.0%"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Pinterest</td>
            <td>420</td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar bg-primary" style="width: 8.4%"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </article>
    <article>
      <h5>Most Visisted Page</h5>
      <table>
        <thead>
          <tr>
            <th>Page name</th>
            <th>Visitors</th>
            <th>Unique</th>
            <th>Bounce rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>/about.html</td>
            <td class="text-muted">4,896</td>
            <td class="text-muted">3,654</td>
            <td class="text-muted">82.54%</td>
          </tr>
          <tr>
            <td>/special-promo.html
            </td>
            <td class="text-muted">3,652</td>
            <td class="text-muted">3,215</td>
            <td class="text-muted">76.29%</td>
          </tr>
          <tr>
            <td>/news/1,new-ui-kit.html
            </td>
            <td class="text-muted">3,256</td>
            <td class="text-muted">2,865</td>
            <td class="text-muted">72.65%</td>

          </tr>
          <tr>
            <td>
              /lorem-ipsum-dolor-sit-amet-very-long-url.html

            </td>
            <td class="text-muted">986</td>
            <td class="text-muted">865</td>
            <td class="text-muted">44.89%</td>

          </tr>
          <tr>
            <td>
              /colors.html

            </td>
            <td class="text-muted">912</td>
            <td class="text-muted">822</td>
            <td class="text-muted">41.12%</td>

          </tr>
          <tr>
            <td>
              /docs/index.html
            </td>
            <td class="text-muted">855</td>
            <td class="text-muted">798</td>
            <td class="text-muted">32.65%</td>

          </tr>
        </tbody>
      </table>
    </article>
  </section>
</main>

<footer><small>Copyright © 2022 </small></footer>

    
</body>
</html>
